@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.logo{
    font-family: "Oswald", sans-serif !important;
    letter-spacing: 2px;
    font-weight: 500;

}
/* @media (max-width:768px) {
.tags{
    display: none;
}
} */